* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}
.main-area {
  padding: 20px 0;
}
.text-center {
  text-align: center;
}
.v-middle {
  vertical-align: middle;
}
.mb-2 {
  margin-bottom: 15px;
}
table {
  margin: 0 auto;
  width: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
}
th {
  padding: 6px 0;
}
td {
  padding: 8px 6px;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
input[type="checkbox"] {
  cursor: pointer;
}
.play-btn {
  font-size: 25px;
  color: #0984e3;
  border: none;
  outline: none;
  cursor: pointer;
}
.game-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hang-person {
  position: relative;
  width: 350px;
  padding: 20px;
  text-align: center;
}
.ground {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 150px;
  height: 2px;
  background: #000;
}
.stand {
  position: relative;
  width: 2px;
  height: 200px;
  background: #000;
  margin-left: 100px;
}
.stand:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 2px;
  background: #000;
}
.head {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
}
.person {
  position: absolute;
  top: 20px;
  left: 59%;
}
.body {
  position: absolute;
  top: 52px;
  left: 54%;
  width: 2px;
  height: 100px;
  background: #000;
}
.word-field {
  padding: 10px;
  text-align: center;
}
.word-field input {
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 10px;
  width: 40px;
  outline: none !important;
  font-size: 40px;
  text-align: center;
}
.timer {
  font-size: 20px;
  font-weight: 600;
}
.newword-btn {
  color: #fff;
  background: #0984e3;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
.save-btn {
  padding: 10px 20px;
  color: #fff;
  border: none;
  background: #6c5ce7;
  border-radius: 5px;
  margin: 0 5px;
}
.LetterBlock {
  border: 1px solid #000;
  width: 28px;
  margin: 0 7px;
  text-align: center;
  margin-bottom: 10px;
  height: 28px;
  line-height: 28px;
}

.button-wrap {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
}
.crossLetter:after {
  content: "";
  position: absolute;
  border-left: 5px solid #ff00009e;
  height: 29px;
  width: 0;
  transform: rotate(-45deg);
  right: 10px;
}
.crossLetter:before {
  content: "";
  position: absolute;
  border-right: 5px solid #ff00009e;
  height: 29px;
  width: 2px;
  transform: rotate(45deg);
}
.crossLetter {
  position: relative;
}
.game_lose_status,
.game_win_status {
  text-align: center;
  padding: 32px 0;
}
.game_lose_status span {
  font-size: 28px;
  background: #f00;
  color: #fff;
  font-weight: 900;
  padding: 12px 22px;
  border-radius: 5px;
  box-shadow: 3px 5px 6px 0 #5d5d5d70;
}

.game_win_status span {
  font-size: 28px;
  background: #1bad09;
  color: #fff;
  font-weight: 900;
  padding: 12px 22px;
  border-radius: 5px;
  box-shadow: 3px 5px 6px 0 #5d5d5d70;
}
.leftarm,
.rightarm,
.leftfoot,
.rightfoot {
  position: relative;
}
.leftarm:before {
  content: "";
  position: absolute;
  border: 1px solid #000;
  height: 40px;
  transform: rotate(119deg);
  left: 10px;
}
.rightarm:before {
  content: "";
  position: absolute;
  border: 1px solid #000;
  height: 40px;
  transform: rotate(58deg);
  right: 5px;
}
.leftfoot:before {
  content: "";
  position: absolute;
  border: 1px solid #000;
  height: 40px;
  transform: rotate(45deg);
  left: 13px;
  bottom: -133px;
}
.rightfoot:before {
  content: "";
  position: absolute;
  border: 1px solid #000;
  height: 40px;
  transform: rotate(132deg);
  right: 6px;
  bottom: -133px;
}
